<div class="navbar">
    <div class="logo">
        <a href="#"><img src="/images/logo/logo.png" alt="Logo"></a>
    </div>
    <div class="navbar-items">
        <a href="#" id="home">Home</a>
        <a href="#" id="explore">Explore</a>
        <a href="#" id="create">Create</a>
    </div>
    <div class="search-container">
        <input class="search-bar" type="text" placeholder="Search...">
        <span class="comments-icon" onclick="toggleCommentsDock()">💬</span>
        <!-- Profile Picture in Navbar -->
        <div class="profile-nav" onclick="toggleUserProfile()">
            <img src="profile-pic.jpg" alt="Profile Picture">
        </div>
    </div>
</div>