* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    overflow-y: scroll;
}
h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #2C3E50;
}

/* Profile */
.post-container {
    position: relative;
    top: 17%;
}

.post-form {
    display: inline-block;
    text-align: center;
}

